<div>
    <h1>Fluentbit Board</h1>
    <div>
        <label for="">Subscription url</label>
        <input type="text" name="address" id="addressField" placeholder="http://127.0.0.1:8888/add-status-subscriber">
        <button onclick="connect()">Connect</button>
        <button onclick="disconnect()">Disconnect</button>
        <button onclick="flush()">Clear</button>
    </div>
    <div id="events"/>
</div>